[Unit]
Description=Setup a secure tunnel to %I
Wants=ssh-agent.service
After=network.target ssh-agent.service

[Service]
Environment="LOCAL_ADDR=localhost"
EnvironmentFile=/home/feckert/default/secure-tunnel@%I
ExecStart=/usr/bin/ssh \
 -NT \
 -o ServerAliveInterval=60 \
 -o ExitOnForwardFailure=yes \
 -L ${LOCAL_ADDR}:${LOCAL_PORT}:${REMOTE_HOST}:${REMOTE_PORT} ${TUSER}@${TARGET}

[Install]
WantedBy=multi-user.target
